
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 100px;

}


.contact p{
  margin-top:0;
  font-size: 15px;
  flex: 1 1 33.3%;
}


.contact h3{
  margin-bottom: 10px;
}



.contact .option{
    flex: 1 1 33.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}


.contact .option .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px;
}


.contact .option .box img{
  width: 3rem;
  height: 3rem;
}


.contact .option h3:hover {
	color: #d9a411;
  opacity: 1;
}

@media (max-width: 600px){
  .contact{
      margin: 0;
  }
    .contact .option{
        flex-direction: column;
    }

    .contact .option .box{
      margin: 0;
    }
}
